@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: rgb(255, 250, 243);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px 0px 30px;
}

.nav-pfp {
  height: 27px;
  /* border-radius: 50%; */
}

.nav-notifs-icon {
  height: 32px;
}

.nav-messages-icon {
  height: 29px;
}


.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-buttons > a {
  padding: 5px;
}

#header-search-bar {
  margin-right: 10px;
  width: 170px;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > a {
  text-decoration: none;
  color: black;
}

