.listing-component{
    text-align:left;
    font-family:'Helvetica';
}

.booklisting-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

.booklisting-container p {
    color: darkslategrey;
}

.leftblock {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    text-align: center;
}

.leftblock p {
    margin: 5px;
    font-size: 150%;
}

.leftblock img {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 5px 5px 30px grey;
}

.rightblock {
    padding-right: 50px;
}

.userinfo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userinfo-container img {
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.profile h2 {
    margin: 0px;
}

.profile p {
    margin: 0px;
    padding-left: 22px;
    padding-top: 2px;
}

.bookinfo-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bookinfo-container h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.show-more{
    line-height: 1em;
    height: auto;
    text-decoration: none;
    color: black;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 8em;
    text-overflow: ellipsis;
}
