/* STYLING FOR FEED ELEMENTS ON HOME PAGE */


/* START: big container */
.wrapper-feed {
margin: 0 0 0 50px;
}

.feed-container {
  width: 600px;
  margin: 10px 0 0 50px;
  padding: 10px 0 0 0px;
  /* border: 3px solid rgb(209, 209, 209); */
  border-radius: 5px;
}
/* END */


/* START: single feed element */
.feed-single {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 10px;
  padding: 10px;
  height: 150px;
  border: 3px solid rgb(219, 203, 203);
  border-radius: 5px;
  background-color: rgb(255, 248, 248);
  justify-content: space-between;
}

/* START: clickable feed container */
.clickable-feed-single {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.clickable-feed-single:link, .clickable-feed-single:visited, .clickable-feed-single:hover, .clickable-feed-single:active {
  color: black;
  text-decoration: none;
}
/* END */

/* START: image container on left of feed element */
.image-container {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin: 5px 30px 0 20px;
  /* justify-content: center; */
  align-items: center;
}

.image-container > img {
  padding-top: 3px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 3px 5px grey;
}

.image-container > h3 {
  margin-top: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  font-weight: normal;
}
/* END */

/* START: right container */
.feed-right-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
/* END */

/* START: text container */
.feed-text-container {
  display: flex;
  flex-direction: column;
  margin-right:20px;
  margin-top: -6px;
}
/* END */

/* START: user profile photo and username */
.user-info {
  display: flex;
  align-items: center;
  margin: 0 0 0 5px;
  padding-top: 0px;
}

.user-info > img {
  height: 35px;
  border-radius: 50%;
}

.user-info > h3 {
  font-size: 16px;
  margin-left: 6px;
}
/* END */

/* START: book info text container */
.book-info-container {
  margin: 0 0 0 8px;
}

.book-info-container > h2, .book-info-title { /* book title */
  font-size: 18px;
  margin: 0 0 0 0;
}

.book-info-container > a {
  text-decoration: none;
}

.book-info-title:hover {
  cursor: pointer;
}

.book-info-container > h3 { /* author  */
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0 7px 0;
}
/* END */

/* START: like button */
/* END */

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15px;
}

.location-container > h3{
  font-size: 15px;
  font-weight: normal;
}
.location-icon {
  height: 15px;
  margin-right: 5px;
}

